.rtrs-star-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  fill: var(--rtrs-star-background-color);

  &:hover .rtrs-star path,
  &:hover ~ .rtrs-star .rtrs-star-progress {
    fill: var(--rtrs-star-color);
  }
}

.rtrs-star {
  padding-left: 4px;
  padding-right: 4px;

  &:hover ~ .rtrs-star path,
  &:hover ~ .rtrs-star .rtrs-star-progress {
    fill: var(--rtrs-star-background-color);
  }
}

.rtrs-clicked-star {
  fill: var(--rtrs-star-color);
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes twinkling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rtrs-star.scaling-fixed {
  &:hover {
    transition-duration: 100ms;
    transform: scale(1.3);
  }
}

.rtrs-star.scaling-animation {
  &:hover {
    animation: pulsating 1s infinite alternate;
  }
}

.rtrs-star.twinkling-animation {
  &:hover {
    animation: twinkling 1s infinite alternate;
  }
}

.rtrs-star.rotating-animation {
  &:hover {
    animation: rotating 2s linear infinite;
  }
}
