.star-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  fill: grey;

  &:hover .star path,
  &:hover ~ .star .star-progress {
    fill: gold;
  }
}

.star {
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    transition-duration: 100ms;
    transform: scale(1.3);
  }

  &:hover ~ .star path,
  &:hover ~ .star .star-progress {
    fill: grey;
  }
}

.clicked-star {
  fill: gold;
}