.star-container {
  display: flex;
  align-items: center;
  width: fit-content;

  &:hover .star-wrapper path,
  &:hover ~ .star-wrapper .star-progress {
    fill: gold;
  }
}

.star-wrapper {
  cursor: pointer;
  fill: grey;
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    transition-duration: 100ms;
    transform: scale(1.3);
  }

  &:hover ~ .star-wrapper path,
  &:hover ~ .star-wrapper .star-progress {
    fill: grey;
  }

  &:hover ~ .star-progress {
    width: 100%;
  }
}

.star-progress {
  &:hover {
    width: 100%;
  }
}
